body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2EAD3;
    border-radius: 20px;
    border: solid 4px #3F2305;
    padding: 30px;
    gap: 20px;
}

.container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.container form button{
    width: 90%;
    padding: 5px;
}

.container input{
  width: 90%;
}

.container form button, .container form input[type=file]::file-selector-button{
    background-color: #3F2305;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
}

.container form input[type=file]::file-selector-button{
  padding: 10px;
  font-size: 12px;
  margin-right: 20px;
}

.container form button:hover, .container form button:active, .container form input[type=file]::file-selector-button:hover, .container form input[type=file]::file-selector-button:active{
    background-color: #9e580e;
}

.container form button:hover{
    transform: scale(1.05) translateY(-4px);
    box-shadow: 6px 10px 21px 1px rgba(167, 167, 167, 0.75);
}

.container form button:active{
    transform: scale(1.025) translateY(-2px);
    box-shadow: 3px 5px 10px 1px rgba(167, 167, 167, 0.75);
}

.content-containr{
  width: 100%;
  max-width: 300px;
}

img{
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    border: 5px solid #3F2305;
    border-radius: 10px;
}

h1{
    text-align: center;
    margin: 0;
}